.dropList {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 2px solid #2ee59d;
    min-width: 400px;
    overflow-y: auto;
    max-height: 776px;
    background: #3e3e3e;
}

.dropList__search {
    display: flex;
    align-items: center;
    position: relative;
}

.dropList__notes {
    padding: 10px 5px;
}

.dropList__notes__item {
    background: #695173;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0;
    cursor: pointer;
}

.dropList__notes__item__date {
    font-weight: bold;
    text-align: right;
    padding-right: 5px;
    color: #2ee59d;
}

.dropList__notes__item__title__label {
    font-weight: bold;
    margin-right: 5px;
    color: #9a9a9a;
}