.calendarWrapper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.calendar {
    width: 100%;
}

.calendar__settings {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #a1a1a1;
    background: #343434;
    min-width: 693px;
}


.calendar__settings__standard {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.calendar__settings__button {
    border: 1px solid #2ee59d;
    background: #8d8d8d;
    border-radius: 5px;
}

.calendar__settings__button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.calendar__settings__button_today {
    margin: 0 20px;
}

.calendar__settings__data {
    font-size: 25px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.calendar__settings__data_element {
    padding: 0 5px;
}


.calendar__table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


@media (max-width: 1070px) {
    .calendarWrapper {
        flex-direction: column;
    }

    .calendar {
        margin-bottom: 20px;
    }

    .calendar__settings {
        min-width: fit-content;
    }
}