.errorPage__Wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.errorPage__Wrapper__errorCode {
    font-size: 40px;
    color: #ff3c3c;
}

.errorPage__Wrapper__description {
    margin-bottom: 10px;
}