.tablePageWrapper {
    width: 100%;
    height: 100%;
    padding: 5px 30px;
    box-sizing: border-box;
}

.tablePageWrapper__header {
    text-align: center;
}

.tableArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapperTAbl {
    overflow-y: scroll;
    overflow-x: scroll;
    height: 449px;
    max-width: 920px;
    border: 2px solid #2EE59D;
}

.header__cell_sticky {
    position: sticky;
    top: 0;
    color: black;
    background-color: #d4d4d4;
    z-index: 2;
    border: 1px solid black;
}

.row_selected {
    background: #86e3bf;
    color: black;
}

.row__cell {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 20px;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    height: 86px;
}

.row__cell_sticky {
    position: sticky;
    left: 0;
    color: black;
    background-color: #d4d4d4;
}

.row__cell_selected {
    background: #6eba9c;
}

.row__cell__input {
    color: black;
    width: 100%;
}

.tableArea__header {
    height: 50px;
    min-height: 50px;
    top: 0;
    border: 1px solid black;
}

.maxVisiblePriority {
    z-index: 3;
}

