.modalBg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.84);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBg__close {
  position: fixed;
  height: 55px;
  width: 55px;
  right: 30px;
  top: 80px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.modalBg__close:hover {
  opacity: 1;
}

.modalBg__close:before,
.modalBg__close:after {
  position: absolute;
  left: 30px;
  content: " ";
  height: 33px;
  width: 4px;
  margin: 0 auto;
  background-color: #8d8d8d;
  border-radius: 2px;
}

.modalBg__close:before {
  transform: rotate(45deg);
}

.modalBg__close:after {
  transform: rotate(-45deg);
}

.modalBg__modal {
  width: 660px;
  position: absolute;
  border-radius: 10px;
  padding: 30px;
  background: #252525;
}
