@import "../../../common/styles/vars.css";

.themeWrapper {
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
}

.themeWrapper_light {
  background: var(--main-light-bg-color);
  color: var(--main-light-text-color);
}

.themeWrapper_dark {
  background: var(--main-dark-bg-color);
  color: var(--main-dark-text-color);
}
