.default {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border: white;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #2ee59d;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.default:hover {
  background: #2ee59d;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: white;
  transform: translateY(-7px);
}
.default:disabled {
  transform: translateY(0px);
  color: rgba(82, 79, 78, 0.48);
  background: rgba(203, 203, 203, 0.47);
}
.default:disabled:hover {
  animation-name: wobble;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  background: #cbcbcb77;
  box-shadow: none;
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }

  15% {
    -webkit-transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  45% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  60% {
    -webkit-transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(0%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }

  75% {
    -webkit-transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(3%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.red {
  color: #ff3c3c;
}
.red:hover {
  background: red;
  box-shadow: 0 15px 20px rgba(229, 46, 46, 0.4);
}
