.styledInput {
  width: 100%;
}

.styledInput__body {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 10px 30px;
  border: 1px solid black;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 0 13px 8px 0 rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0 13px 8px 0 rgba(34, 60, 80, 0.2);
  box-shadow: 0 13px 8px 0 rgba(34, 60, 80, 0.2);
}

.styledInput__body_error {
  border: 1px solid red;
  background: #ffcfcf;
}
